<div class="bubble-loader">
    <div class="bubble bubble--1"></div>
    <div class="bubble bubble--2"></div>
    <div class="bubble bubble--3"></div>
    <div class="bubble bubble--4"></div>
    <div class="bubble bubble--5"></div>
  </div>

<script>
    $(window).load(function() {
		// Animate loader off screen
		$(".bubble-loader").fadeOut("slow");;
	});
</script>